body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.container-fluid  .navbar-collapse {
    background-attachment:fixed;
	width: 480px;
}

ul.navbar-nav li a {
	padding: 25px 15px;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #ccc;
}

.radio-warning input[type="radio"]:focus, .radio-warning input[type="radio"]:active {
    border-color: #ccc;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]
{
	background: transparent url(./images/active-calendar-item.png) no-repeat 1px 2px;
	color: grey;
	background-size: 26px ;
}

th.datepicker-switch {
	font-size: 18px;
	font-weight: normal;
}

table.table-condensed .dow{
	font-weight: normal;
	font-size: 10px;
}

.datepicker table tr.activeWeek {
	position: relative;
}

.navbar-nav li a ul {
	display:none;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    top: 0px;
}

.navbar-default {
    background-color: transparent;
    border:0px solid black;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td 
{
  line-height:  1.42857143;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th{
    border:0px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    box-sizing: unset;
    border-spacing: 0px;
}
 .table-striped > tbody > tr:nth-child(odd) > th{
     background-color: #ffffff;
     border-spacing: 0px;
 }
.table > th {
    border-spacing: 0px;
}

.btnregistr
{
	border: 0px;
	margin: 0px;
    margin-left: 20px;
	padding: 0px;
	background-color: transparent;
}

.btnlogin
{
	border: 0px;
	margin: 0px;
    margin-right: 20px;
	padding: 0px;
	background-color: transparent;
}

.modal-dialog {
  position: absolute;
  align-content:center;
  width: 350px;
  height: 200px;
}

h5, h6
{
    color:gray;
}

.center-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: gray;
}
.btntoday
{
    border:0px;
	background-color:transparent;
}

.form-room{
    padding:50px;
    margin:0px;
    padding-bottom: 150px;
}
