body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.container-fluid  .navbar-collapse {
	width: 480px;
}

ul.navbar-nav li a {
	padding: 25px 15px;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #ccc;
}

.radio-warning input[type="radio"]:focus, .radio-warning input[type="radio"]:active {
    border-color: #ccc;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]
{
	background: transparent url(~/images/active-calendar-item.png) no-repeat 1px 2px;
	color: grey;
	background-size: 26px ;
}

th.datepicker-switch {
	font-size: 18px;
	font-weight: normal;
}

table.table-condensed .dow{
	font-weight: normal;
	font-size: 10px;
}

.datepicker table tr.activeWeek {
	position: relative;
}

.navbar-nav li a ul {
	display:none;
}

.navbar-default {
    background-color: white;
    border:0px solid black;
    border-bottom:4px groove rgba(128, 128, 128, 0.11);
    opacity:0.8;
}

.btnregistr
{
	border: 0px;
	margin: 0px;
    margin-left: 20px;
	padding: 0px;
	background-color: transparent;
    color:black;
}

.btnlogin
{
	border: 0px;
	margin: 0px;
    margin-right: 20px;
	padding: 0px;
	background-color: transparent;
}

.modal-dialog {
  position: absolute;
  align-content:center;
  width: 350px;
  height: 200px;
  left: 40%;
}

h5, h6
{
    color:gray;
}

h2{
    color:black;
}

.form-find-room{
    padding:50px;
    padding-bottom:175px;
    background-color:white;
    opacity: 0.7; 
    width: 400px; 
    height: 80px;
}

.container {
    background-image: url(../../Content/images/bg-home-img.png);
    background-color: transparent;
    background-position: 50% 0%;
    background-size: 70%;
    background-repeat: no-repeat;
}

#lenta {
    position: relative;
    width: 600px;
    overflow: hidden;
}

#slider {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

    #slider td {
        padding-top: 10px; 
        padding-bottom: 10px;
        margin:0px;
        min-width:55px;
    }

#cont {
    position: relative;
}

.btn-lg{
    background-color: #438e11;
}