<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-10">
            
            <div class="mapContainer">
                <div class="filterInfo">
                    <div class="white">Количество посадочных мест:</div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="slideBtn" data-ng-click="sliderMoveLeft()"><</button>
                            <input type="range" step="1" id="capacity" value="4" max="4" data-ng-click="updateRooms(rooms)" />
                            <button class="slideBtn" data-ng-click="sliderMoveRight()">></button>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-xs-1" style="padding-left: 0px; padding-right: 0px; font-size: 12px;"></div>
                        <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px; font-size: 12px;">до 10</div>
                        <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px; font-size: 12px;">до 30</div>
                        <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px; font-size: 12px;">до 70</div>
                        <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px; font-size: 12px;">до 100</div>
                        <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px; font-size: 12px;">до 200</div>                                
                    </div>

                    <div class="row">
                        <div class="pad12">
                            <div class="col-xs-12">
                                Техническая база:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pad12">
                            <div class="col-xs-2">
                                <input type="checkbox" id="wi-fi" name="Wi-fi" data-ng-click="updateRooms(rooms)" />
                                <label for="wi-fi"><span class="white"></span></label>
                            </div>
                            <div class="col-xs-4">Wi-Fi</div>
                            <div class="col-xs-2">
                                <input type="checkbox" id="proj" name="Projector" data-ng-click="updateRooms(rooms)" />
                                <label for="proj"><span class="white"></span></label>
                            </div>
                            <div class="col-xs-4">Проектор</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pad12">
                            <div class="col-xs-2">
                                <input type="checkbox" id="mon" name="Monitor" data-ng-click="updateRooms(rooms)" />
                                <label for="mon"><span class="white"></span></label>
                            </div>
                            <div class="col-xs-4">Монитор</div>
                            <div class="col-xs-2">
                                <input type="checkbox" id="mic" name="Microphone" data-ng-click="updateRooms(rooms)" />
                                <label for="mic"><span class="white"></span></label>
                            </div>
                            <div class="col-xs-4">Микрофон</div>
                        </div>
                    </div>
                </div>

                <h3 class="white">План Этажа</h3>
                <h4 class="white">{{ rooms.length }} комнат</h4>

                <div class="mapImgContainer">
                    <div data-ng-repeat="room in rooms">
                        <div id="room_{{room.number}}">{{room.number}}</div>
                    </div>
                    <div data-ng-repeat="room in filteredRooms">
                        <div id="room{{ room.number }}" class="{{ getClass(room) }}"></div>
                    </div>

                    <img src="@Url.Content("~/Content/Images/map.png")" usemap="#roommap" />
                    <map name="roommap">

                        <area id="301" shape="rect" coords="504,164,611,257" data-ng-click="selectRoom(301)" />
                        <area id="302" shape="rect" coords="464,164,501,257" data-ng-click="selectRoom(302)" />
                        <area id="303" shape="rect" coords="295,164,336,256" data-ng-click="selectRoom(303)" />
                        <area id="304" shape="poly" coords="173,192, 285,192, 285,256, 200, 256, 173, 223" data-ng-click="selectRoom(304)" />
                        <area id="305" shape="rect" coords="173,82,264,130" data-ng-click="selectRoom(305)" />
                        <area id="306" shape="rect" coords="198,29,264,77" data-ng-click="selectRoom(306)" />
                        <area id="307" shape="rect" coords="38,29,125,86" data-ng-click="selectRoom(307)" />
                        <area id="308" shape="rect" coords="38,92,125,129" data-ng-click="selectRoom(308)" />
                        <area id="309" shape="rect" coords="38,133,125,173" data-ng-click="selectRoom(309)" />
                        <area id="310" shape="rect" coords="38,177,125,239" data-ng-click="selectRoom(310)" />

                        <area id="311" shape="circle" coords="105,320,67" data-ng-click="selectRoom(311)" />
                        <area id="311" shape="circle" coords="55,270,25" data-ng-click="selectRoom(311)" />
                        <area id="311" shape="circle" coords="155,370,25" data-ng-click="selectRoom(311)" />

                        <area id="312" shape="rect" coords="192,307,345,396" data-ng-click="selectRoom(312)" />
                        <area id="313" shape="rect" coords="350,307,455,396" data-ng-click="selectRoom(313)" />
                        <area id="314" shape="rect" coords="465,307,610,396" data-ng-click="selectRoom(314)" />
                        <area id="315" shape="rect" coords="621,307,665,337" data-ng-click="selectRoom(315)" />
                    </map>
                </div>
            </div>
            
                <div class="roominfo" data-ng-show="selectedRoom">
                    <div class="info_{{ selectedRoom.number }}" data-ng-click="unselectRoom()">
                        <h4 class="grayHeader">Комната {{ selectedRoom.number }}</h4>
                        <div class="row">
                            <div class="col-xs-2"><span class="icon-peoples"></span></div>
                            <div class="col-xs-6">Количество мест</div>
                            <div class="col-xs-1" style="font-size:20px;">{{ selectedRoom.places }}</div>
                        </div>
                        <div class="row" ng-show="selectedRoom.wifi">
                            <div class="col-xs-2"><span class="icon-wifi"></span></div>
                            <div class="col-xs-6">Wifi</div>
                            <div class="col-xs-1"><span class="icon-tick"></span></div>
                        </div>
                        <div class="row" ng-show="selectedRoom.projector">
                            <div class="col-xs-2"><span class="icon-projector"></span></div>
                            <div class="col-xs-6">Projector</div>
                            <div class="col-xs-1"><span class="icon-tick"></span></div>
                        </div>
                        <div class="row" ng-show="selectedRoom.microphone">
                            <div class="col-xs-2"><span class="icon-microphone"></span></div>
                            <div class="col-xs-6">Microphone</div>
                            <div class="col-xs-1"><span class="icon-tick"></span></div>
                        </div>
                        <div class="row" ng-show="selectedRoom.monitor">
                            <div class="col-xs-2"><span class="icon-monitor"></span></div>
                            <div class="col-xs-6">Monitor</div>
                            <div class="col-xs-1"><span class="icon-tick"></span></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

