@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container 
    {
        background: none;
    }
</style>
<div id="change-place" class="col-xs-12">
    @Html.Partial(@"~/Views/Cabinet/ChangePlace.cshtml")
</div>
